<form [formGroup]="editCityForm" (ngSubmit)="editCity()">
  <a routerLink="">Quay Lại</a>
  <table>
    <tr>
      <td>Id:</td>
      <td><input type="text" formControlName="id"></td>
    </tr>

    <tr>
      <td>name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>

    <tr>
      <td>country:</td>
      <td>
        <select formControlName="country">
        <option *ngFor="let country of country" [value]="country.id">{{country.name}}</option>
      </select>
      </td>
    </tr>

    <tr>
      <td>area</td>
      <td><input type="text" formControlName="area"></td>
    </tr>

    <tr>
      <td>population</td>
      <td><input type="text" formControlName="population"></td>
    </tr>

    <tr>
      <td>gdp</td>
      <td><input type="text" formControlName="gdp"></td>
    </tr>

    <tr>
      <td>description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>

    <tr>
      <td><button> Submid </button></td>
    </tr>
  </table>
</form>
